In [1]:
import pandas as pd

In [10]:
test_df = pd.read_csv("../data/tws-test.csv")
preds_df = pd.read_csv("../data/pred.csv")

In [17]:
test_df.shape, preds_df.shape

((1197, 2), (1197, 2))

In [18]:
test_df.head()

                        text sentiment
0   barang bagus kirim cepat  positive
1  barang rusak gak bisa cas  negative
2     harga gin sih udah oke  positive
3         barang rusak kirim  negative
4                bunyi belah   neutral

In [19]:
preds_df.head()

  prediction sentiment
0   positive  positive
1   negative  negative
2   positive  positive
3   negative  negative
4    neutral   neutral

In [33]:
eval_df = pd.concat([test_df, preds_df.drop("sentiment", axis=1)], axis=1)

eval_df.head()

                        text sentiment prediction
0   barang bagus kirim cepat  positive   positive
1  barang rusak gak bisa cas  negative   negative
2     harga gin sih udah oke  positive   positive
3         barang rusak kirim  negative   negative
4                bunyi belah   neutral    neutral

In [45]:
wrong_preds = eval_df[eval_df["sentiment"] != eval_df["prediction"]].reset_index(
    drop=True
)

In [46]:
wrong_preds = wrong_preds.drop_duplicates()

In [49]:
wrong_preds

                                                  text sentiment prediction
0                      barang kirim tidak sesuai pesan   neutral   negative
1                                         barang rusak   neutral   negative
2    kerja baik bisa dicharge sayang kiri kanan bed...  positive   negative
3    packing penyok tidak fungsi baik harga diskon aja  positive    neutral
4    type bluetooth bukan bukan produk original bel...  positive   negative
..                                                 ...       ...        ...
108                             kualitas harga jangkau  positive    neutral
111  kejut headset nya mati belah nyata bisa pakai aja  positive   negative
113  lumayan bagus kanan cepat habis selisih kiri m...  positive    neutral
114  fungsi baik kabel charger nya warna nya kusam ...  positive   negative
116  barang sesuai pesan full bubble bungkus kotak ...  positive   negative

[78 rows x 3 columns]

In [47]:
wrong_preds.to_csv("../data/wrong_preds.csv", index=False)